<div class="container">
    <div class="row">
        @for(item of department;track item.id){
    <div class="col">
        
    <div class="card" style="width: 18rem; margin: 10%;" >
        <img src="{{item.Image}}" class="card-img-top" alt="...">
        <div style="background-color: rgb(120, 163, 209);" class="card-body">
          <h5 class="card-title">{{item.Title}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-Primary">Visit</a>
        </div>
      </div>
    </div>
        }